@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
#i{
  color: white;
  font-size: 22px;
 
 }
 #i:hover{ 
  color: rgba(234, 234, 3, 0.89);
 }
 #menu{
  color: white;
 }
 #menu:hover{ 
  color: rgba(255, 255, 0, 0.914);
 }

#auth{
  background-image: url('/bg3.jpg');
  background-repeat: no-repeat;
background-size: cover;
}

#banner {  
  overflow: hidden;  
  white-space: nowrap;   
  display: flex;  
  align-items: center; 
}  

#scrolling-box { 
  display: inline-block;   
  animation: scroll 10s linear infinite;  
  font-size: 0.875rem;  
  padding-left: 100%; 
}  


